/* Variables */

$font-text: 'Signika', sans-serif; 
$font-header: 'Raleway', sans-serif; 
$color-main: #17daa3;
$color-bg: #f9f9fa;
$color-bright: #87949e;
$color-dark: #576671;
$transition: all 0.5s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 16px;
    font-family: $font-text;
    color: $color-bright;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

h2 {
    font-family: $font-header;
    font-weight: lighter;
    font-size: 48px;
}

.section-title {
    position: relative;
    color: $color-dark;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-main;
}

.btn {
    margin: 36px auto;
    padding: 6px;
    font-family: inherit;
    font-size: 14px;
    width: 150px;
    height: 36px;
    border: 2px solid white;
    border-radius: 25px;
    background-position: 100% 0;
    background-size: 300%;
    cursor: pointer;
}

.btn:hover {
    background-position: 0 100%;
    color: white;
    transition: $transition;
}

/* Header */

header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0%;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    margin: 26px 0;
    padding-left: 26px;
}

.navigation {
    padding-right: 26px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}

.navigation a {
    text-decoration: none;
    font-family: $font-text;
    letter-spacing: 1px;
    color: inherit;
    display: inline-block;
}

.navigation .search-icon {
    font-size: inherit;
    cursor: pointer;
}

/* Splash */

.splash {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.ibb.co/1JTrCLQ/pexels-tobias-bj-rkli-2113565.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.splash-title {
    margin: 12px 0;
}

.splash-title span {
    font-weight: bold;
}

.splash-subtitle {
    font-size: 18px;
    margin: 8px 0;
}

.btn-1 {
    background-color: transparent;
    color: white;
    background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

.btn-1:hover {
    color: $color-dark;
    transition: $transition;
}

/* About */