/* Variables */

$font-text: 'Raleway', sans-serif; 
$font-text-2: 'Signika', sans-serif; 
$color-main: #17daa3;
$color-bg: #f9f9fa;
$color-light-grey: #edeff1;
$color-licence: #c9cfd3;
$color-bright: #87949e;
$color-dark: #576671;
$transition: all 0.5s ease;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 14px;
    font-family: $font-text;
    color: $color-bright;
}

section {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 48px;
}

.section-title {
    position: relative;
    color: $color-dark;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -16px;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-main;
}

.section-subtitle {
    font-family: $font-text;
    font-size: 16px;
    font-weight: normal;
    color: $color-bright;
    text-align: center;
    margin-bottom: 48px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-wrapper-4 {
    display: grid;
}

article {
    padding: 36px 0;
    .btn-2 {
        margin-top: 24px;
    }
}

.article-wrapper {
    display: flex;
    align-items: center;
}

.article-image {
    flex: 1;
    padding: 12px 24px;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.article-content {
    flex: 1;
    padding: 12px 24px;
}

.article-title {
    margin: 0;
    color: $color-dark;
}

.article-right {
    background-color: $color-bg;
}

.article-left {
    .article-image {
        order: 2;
    }
    .article-content {
        order: 1;
    }
}

h2 {
    font-family: $font-text;
    font-weight: lighter;
    font-size: 48px;
    margin-top: 0;
}

.a {
    cursor: pointer;
}

.btn {
    padding: 6px;
    font-family: $font-text-2;
    font-size: 14px;
    width: 150px;
    height: 36px;
    border: 2px solid white;
    border-radius: 25px;
    background-position: 100% 0;
    background-size: 300%;
    cursor: pointer;
}

.btn:hover {
    background-position: 0 100%;
    color: white;
    transition: $transition;
}

.btn:active {
    color: $color-main !important;
}

.btn-2 {
    border: none;
    background-color: $color-main;
    color: white;
    background-image: linear-gradient(90deg, $color-dark 50%, $color-main 50%);
}

.btn-2:hover {
    transition: $transition;
}

/* Header */



/* Splash */

.splash {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.ibb.co/1JTrCLQ/pexels-tobias-bj-rkli-2113565.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-title {
    color: white;
    margin: 12px 0;
}

.splash-title span {
    font-weight: bold;
}

.splash-subtitle {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 8px 0;
}

.btn-1 {
    margin: 36px auto;
    background-color: transparent;
    color: white;
    background-image: linear-gradient(90deg, white 50%, transparent 50%);
}

.btn-1:hover {
    color: $color-dark;
    transition: $transition;
}

/* About */

.about-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0 12px 12px 12px;
    a {
        display: inline-block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        background-color: $color-light-grey;
        text-align: center;
        margin: 24px 0;
    }
    i {
        font-size: 30px;
        color: $color-bright;
        vertical-align: sub;
    }
    a:hover {
        background-color: $color-main;
        i {
            color: white;
        }
    }
    .card-title {
        margin-top: 8px;
        margin-bottom: 24px;
        font-size: 18px;
        color: black;
    }
}

.about .btn-2 {
    margin: 48px 0;
}

/* Opinions */

.opinions {
    padding: 0 12px;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/opinion-background-photo.png);
    background-position: center center;
    background-size: cover;
    .profile-pic {
        height: 50px;
        width: 50px;
        margin: 6px auto;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    .opinion {
        font-weight: normal;
        font-size: 18px;
        margin: 8px 0;
        color: white;
    }
    span {
        color: $color-main;
    }
    .opinion-details {
        margin: 6px 0;
        color: $color-dark;
    }
}

/* Services */

.services {
    background-color: $color-bg;
    padding-bottom: 36px;
}

.grid-wrapper-2 {
    display: grid;
}

.services-card {
    display: flex;
    .services-icon {
        flex: 20%;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        a {
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            background-color: white;
            text-align: center;
        }
        i {
            font-size: 24px;
            color: $color-main;
            vertical-align: middle;
        }
        a:hover {
            background-color: $color-main;
            i {
                color: white;
            }
        }
    }
    .services-article {
        flex: 80%;
        align-self: start;
    }
}

/* Team */

.team {
    padding-bottom: 0;
}
.team-grid {
    display: grid;
    grid-template: 50% 50% / 20% 20% 20% 20% 20%;
}

.team-box {
    display: flex;
    background-color: $color-main;
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
    }
    .team-name {
        display: none;
    }
}
.team-box:hover {
    img {
        opacity: 0.4;
    }
    .team-name {
        display: block;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-text;
        font-size: 18px;
        text-align: center;
        color: white;
    }
}

/* Pricing */

.pricing {
    background-color: $color-bg;
}

.licence-card {
    margin: 24px 12px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    .licence-price {
        padding: 0 24px;
        flex: 37.5%;
        .price {
            margin: 0;
            color: $color-main;
        }
        p {
            margin: 0;
            color: $color-licence;
        }
    }
    .licence-description {
        padding: 0 24px;
        flex: 50%;
        border-top: 1px solid $color-bg;
    }
    .purchase-btn {
        flex: 12.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-main;
        color: white;
        font-family: $font-text-2;
        letter-spacing: 4px;
        border: none;
        border-radius: 2px;
    }
    .purchase-btn:hover {
        transform: scale(1.1);
        transition: $transition;
    }
}

/* Banner */

.banner {
    padding: 0 12px;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/template-background-photo.png);
    background-position: center center;
    background-size: cover;

}

/* Footer */



/* Responsive */

@media only screen and (min-width: 769px) {
    .grid-wrapper-4 {
        grid-template: 100% / 25% 25% 25% 25%;
    }
    .grid-wrapper-2 {
        grid-template: 50% 50% / 50% 50%;
    }
}
@media only screen and (max-width: 768px) {
    .splash .flex-container {
        padding-top: 60px;
    }
    .splash-title {
        font-size: 36px;
    }
    .grid-wrapper-4 {
        grid-template: 50% 50% / 50% 50%;
    }
    .grid-wrapper-2 {
        grid-template: 25% 25% 25% 25% / 100%;
    }
    .team-grid {
        grid-template: 20% 20% 20% 20% 20% / 50% 50%;
    }
    .article-wrapper {
        flex-direction: column;
        padding-top: 48px;
        .article-image {
            order: 1;
            img {
                max-height: 250px;
            }
        }
        .article-content {
            order: 2;
            text-align: center;
            .article-title {
                font-size: 36px;
                line-height: 1.2;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .splash .flex-container {
        padding-top: 120px;
    }
    .splash-title, .article-title {
        font-size: 36px;
    }
    .splash-subtitle {
        font-size: 16px;
    }
    .grid-wrapper-4 {
        grid-template: 25% 25% 25% 25% / 100%;
    }
    .services-card {
        flex-direction: column;
        text-align: center;
    }
}
@media only screen and (max-width: 375px) {
    h2 {
        font-size: 36px;
    }
    .article-title {
        font-size: 28px;
    }
}
@media only screen and (max-width: 275px) {
    .splash-title {
        font-size: 32px;
    }
    .splash-subtitle {
        font-size: 14px;
    }
}